@page "/Editpatient/{patientId:int}"
@using HospitalManagement.Web.Contracts
@using HospitalManagement.Web.Models
@inject IPatient PatientService
@inject NavigationManager navigationManager

<h3>Edit Patient</h3>
@if (patient != null)
{
    <EditForm Model="@patient" OnValidSubmit="UpdatePatient">


        <div class="mb-3">
            <label for="firstName" class="form-label">First Name:</label>
            <InputText id="firstName" class="form-control" @bind-Value="patient.FirstName" />
            @* <input type="text" id="firstName" class="form-control" bind="@newPatient.FirstName" /> *@
        </div>

        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name:</label>
            <InputText id="lastName" class="form-control" @bind-Value="patient.LastName" />
        </div>

        <div class="mb-3">
            <label for="address" class="form-label">Address:</label>
            @* <input type="text" id="address" class="form-control" bind="@newPatient.Address" /> *@
            <InputText id="address" class="form-control" @bind-Value="patient.Address" />
        </div>

        <div class="mb-3">
            <label for="state" class="form-label">State:</label>
            <InputText id="state" class="form-control" @bind-Value="patient.State" />
        </div>

        <div class="mb-3">
            <label for="city" class="form-label">City:</label>
            <InputText id="city" class="form-control" @bind-Value="patient.City" />
        </div>

        <button type="submit" class="btn btn-info">Save Changes</button>
    </EditForm>
}
else
{
    <span>
        Loading Patient details...
    </span>
}

@code {

    [Parameter] 
    public int patientId { get; set; }
    private Patient patient = new Patient();

    protected override async Task OnInitializedAsync()
    {
        patient = await PatientService.GetPatient(patientId);
    }

    
    private async void UpdatePatient()
    {
        var result = await PatientService.UpdatePatient(patientId, patient);

        if (result)
            navigationManager.NavigateTo("/"); // Redirect to the patients list page
    }
}
